@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  background-color: hsl(27, 66%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

hr {
  border: 1px solid hsl(27, 66%, 92%);
  margin-bottom: 25px;
}

.balance-container {
  background-color: hsl(10, 79%, 65%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px 25px 25px 20px;
  width: 375px;
  color: hsl(33, 100%, 98%);
}

.desc p:nth-child(1) {
  color: hsl(27, 66%, 92%);
  font-size: 0.9em;
}

.desc p:nth-child(2) {
  font-weight: bold;
  font-size: 1.4em;
  margin-top: 0.2em;
}

.ring {
  display: flex;
  align-items: center;
}

.charts-container {
  background-color: hsl(33, 100%, 98%);
  width: 375px;
  border-radius: 10px;
  margin-top: 15px;
  padding: 25px 20px 25px 20px;
}

.heading {
  color: hsl(25, 47%, 15%);
  font-weight: bold;
  font-size: 1.4em;
}

.day {
  color: hsl(28, 10%, 53%);
  font-size: 0.8em;
  width: 2em;
  text-align: center;
}

.day-name {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 2.8px;
  padding-right: 2.8px;
}

.charts {
  height: 200px;
}

.graph {
  margin-top: 1em;
  margin-bottom: 25px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.change-text,
.total-text {
  color: hsl(28, 10%, 53%);
  font-size: 0.9em;
}

.total-text {
  margin-bottom: 0.5em;
}
.total-val {
  font-weight: bold;
  font-size: 1.8em;
}

.change-val {
  font-weight: bold;
  font-size: 0.9em;
  text-align: right;
}

.total-val,
.change-val {
  color: hsl(25, 47%, 15%);
}

.change {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bar {
  background-color: hsl(10, 79%, 65%);
  width: 2em;
  border-radius: 3px;
  color: transparent;
  transition: all 0.3s ease-in-out;
}

.bar:hover {
  cursor: pointer;
  opacity: 0.7;
}

.bar.active {
  background-color: hsl(186, 34%, 60%);
}

.charts {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* on hover display amount */

.amount-on-hover {
  width: 44px;
  background-color: hsl(25, 47%, 15%);
  color: hsl(33, 100%, 98%);
  border-radius: 3px;
  padding: 4px;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: center;
  transform: translateX(-4px);
}

.attribution {
  margin-top: 1.5em;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Adding responsiveness */

@media (min-width: 576px) {
  .charts-container,
  .balance-container {
    width: 475px;
  }

  .heading {
    font-size: 1.6em;
  }

  .desc p:nth-child(2) {
    font-size: 1.6em;
  }

  .total-val {
    font-size: 2.3em;
  }

  .bar {
    width: 2.5em;
  }

  .charts {
    height: 160px;
  }

  .amount-on-hover {
    width: 60px;
    font-size: 0.8em;
    transform: translateX(-7.5px);
  }

  .day-name {
    padding-left: 8.1px;
    padding-right: 23.1px;
  }

  .balance-container,
  .charts-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .balance-container {
    padding-bottom: 20px;
  }

  .charts-container {
    padding-right: 15px;
  }

  hr {
    width: 415px;
  }

  .change {
    padding-right: 15px;
  }
}
